body {
    background: #fff;
    font-family: sans-serif;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 10px 30px;
    margin: 0;
    background-color: #44b78b;
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 10px;
    color: #333;
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44b78b;
}

footer .copyright {
    font-size: 18px;
    color: #333;
    text-align: center;
}

footer .copyright a {
    color: #444;
}

footer .copyright a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

@media (max-width: 620px) {

    header h1 {
        font-size: 30px;
    }
}
